# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debugagent.log

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
node_modules
node_modules
node_modules
travel_concierge/.venv
travel_concierge/shared_libraries/
travel_concierge/__pycache__/agent.cpython-312.pyc
*.pyc
travel_concierge/__pycache__/
*.pyc
